.navbar {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
  
  .navbar-links {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-size: 1.5rem;
  }
  
  .navbar-cart {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }